img.icons {
    box-shadow: none;
    color: black;
    fill: black;
    filter: grayscale();
    padding: 0%;
    margin: 3;
}

#skills {
    
}

img.icons:hover, i:hover {
filter: contrast(500%);
animation: pulse; 
    animation-duration:1s;
}

.dcon {
    font-size: 6rem;
    
}

.dcon:hover {
    filter: contrast(500%);
    animation: pulse; 
    animation-duration:2s;
}