#summaryP {
    background-color: grey;
    
    padding: auto;
    margin: auto;
    color: black;
    font-size: medium;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px
}
p, #aboutTitle {
    color: whitesmoke;
}

