.wrapperD {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(34, 22, 22);
    box-shadow: 10px 10px rgb(57, 54, 54);
    padding-top: 30px;
    padding-bottom: 30px;
   
}

h1 {
    text-align: center;
}
