#resume {
    padding-top: 20px;

}

#phone {
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
}

#contactTitle {
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
}

.bottomIcons {
  margin-left: 40px;
}
.bottomIcons:hover {
    color: white;
}

.flexWrap {
    padding-top: 50px;
    /* background: #ffffff; */
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    /* padding: 20px; */
    justify-content: space-around;
    align-content: flex-start;
  }