#resume {
    padding-top: 20px;

}


#phone {
    text-align: center;
    padding-top: 20px;
}

#contactTitle {
    text-align: center;
    padding-top: 20px;
}

.bottomIcons {
  margin-left: 40px;
}