#jumbo {
    height: 400px;
    vertical-align: center;
    text-align: center;
    width: auto;
    background-color: grey;
    
}

#name, #title {
    color: whitesmoke;
}

#profilePic {
    width: 180px;
}